.leftside img{
  animation: corona 3s linear infinite;
}
@keyframes corona{
  0%{transform:rotate(0);}
  100%{transform:rotate(360deg);}
}

.leftside {
  background: green;
}

.nav-bg{
  background: gray!important;
}